<form class="flexcol {{cssClass}}" autocomplete="off">
    <header">
     
        <div class="heading-class"> 

            <div class="flexrow">

                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
                <div class="flexcol">
                    <input type="text" class="name" placeholder="Name">
                    <div class="flexrow">
                        <label>
                            Hair Color:
                            <input type="text" class="hair-color" >
                        </label>
                        <label>
                            Eye Color:
                            <input type="text" class="eye-color" >
                        </label>
                        <label>
                            Race:
                            <select name="attr_race">
                                <option value="android">Android</option>
                                <option value="arcosian">Arcosian</option>
                                <option value="human">Earthling</option>
                                <option value="namekians">Namekian</option>
                                <option value="majin">Majin</option>
                                <option value="saiyan">Saiyan</option>
                                <option value="shinjin">Shinjin</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>

            <div class="flexrow">
                <button class="core-tab" >Core</button>
                <button class="items-tab" >Items</button>
                <button class="techniques-tab" >Techniques</button>
                <button class="transformations-tab">Transformations</button>
            </div>
        </div>
        
    </header>
    
    <div class = "core-sheet">
       
        
    </div>


</form>