<div class="tab" data-tab="tab1" data-group="primary-tabs">
        <div name="attribute-section" class="flexcol groove-bordered">
            <div>
                <label>Agility</label>
                
            </div>
            <div>
                <label>Force</label>

            </div>
            <div>
                <label>Tenacity</label>

            </div>
            <div>
                <label>Scholarship</label>

            </div>
            <div>
                <label>Insight</label>

            </div>
            <div>
                <label>Magic</label>

            </div>
            <div>
                <label>Personality</label>

            </div>
        </div>
</div>