<form class="flexcol {{cssClass}}" autocomplete="off">
    <header>
        <div class="heading-class"> 
            {{> "systems/DBU/templates/actors/partials/character-header-partial.hbs"}}
            </div>
             <nav class="tabs" data-group="primary-tabs" >
                <a class="item" data-tab="tab1" data-group="primary-tabs">Core</a>
                <a class="item" data-tab="tab2" data-group="primary-tabs">Items</a>
                <a class="item" data-tab="tab3" data-group="primary-tabs">Techniques</a>
                <a class="item" data-tab="tab4" data-group="primary-tabs">Transformations</a>
                <a class="item" data-tab="tab5" data-group="primary-tabs">Biography</a>
            </nav>
        </div>
    </header>
   

    <section class="content">
    <div class="tab flexrow" data-tab="tab1" data-group="primary-tabs">
        <div name="attribute-section" class="flexcol groove-bordered" id="attributes-section">
            <label><h2>Attributes</h2> </label>
            <div>
                <label>Agility</label>
                
            </div>
            <div>
                <label>Force</label>

            </div>
            <div>
                <label>Tenacity</label>

            </div>
            <div>
                <label>Scholarship</label>

            </div>
            <div>
                <label>Insight</label>

            </div>
            <div>
                <label>Magic</label>

            </div>
            <div>
                <label>Personality</label>

            </div>
        </div>
        <div>
            <label>Skills:</label>
        </div>

    </div>



    <div class="tab flexrow" id ="device-tab" data-tab="tab2" data-group="primary-tabs">
        <p>Items</p>
    </div>

    <div class="tab flexrow" id ="device-tab" data-tab="tab3" data-group="primary-tabs">
        <p>Techniques</p>
    </div>

    <div class="tab flexrow" id ="device-tab" data-tab="tab4" data-group="primary-tabs">
        <p>Transformations</p>
    </div>

    <div class="tab flexrow" id ="device-tab" data-tab="tab5" data-group="primary-tabs">
        <label class="min-size">
            Hair Color:
            <input type="text" class="hair-color">
        </label>
        <label class="min-size">
            Eye Color:
            <input type="text" class="eye-color">
        </label>
        <label class="min-size">
    </div>




    </section>
</form>