<form class="flexcol {{cssClass}} sheet-form" autocomplete="off">
    <header class="heading-class">
        {{> "systems/DBU/templates/actors/partials/character-header-partial.hbs"}}
        <nav class="tabs" data-group="primary-tabs" >
            <a class="item" data-tab="tab1" data-group="primary-tabs">Core</a>
            <a class="item" data-tab="tab2" data-group="primary-tabs">Items</a>
            <a class="item" data-tab="tab3" data-group="primary-tabs">Techniques</a>
            <a class="item" data-tab="tab4" data-group="primary-tabs">Transformations</a>
            <a class="item" data-tab="tab5" data-group="primary-tabs">Biography</a>
        </nav>
    </header>
   

    <section class="content groove-bordered">
    <div class="tab flexrow" data-tab="tab1" data-group="primary-tabs">
        {{> "systems/DBU/templates/actors/partials/attribute-partial.hbs"}}
        {{> "systems/DBU/templates/actors/partials/skills-partial.hbs"}}
        

        

    </div>



    <div class="tab flexrow" id ="device-tab" data-tab="tab2" data-group="primary-tabs">
        <p>Items</p>
    </div>

    <div class="tab flexrow" id ="device-tab" data-tab="tab3" data-group="primary-tabs">
        <p>Techniques</p>
    </div>

    <div class="tab flexrow" id ="device-tab" data-tab="tab4" data-group="primary-tabs">
        <p>Transformations</p>
    </div>

    <div class="tab flexcol" id ="device-tab" data-tab="tab5" data-group="primary-tabs">
        <label class="min-size">
            Hair Color:
            <input type="text" class="hair-color">
        </label>
        <label class="min-size">
            Eye Color:
            <input type="text" class="eye-color">
        </label>
        





    </div>




    </section>
</form>