<form id="sheetForm" class="flexcol {{cssClass}} sheet-form" autocomplete="off">
    <header class="heading-class">
        {{> "systems/physio/templates/actors/partials/character-header-partial.hbs"}}
        <nav class="tabs" data-group="primary-tabs" >
            <a class="item" data-tab="tab1" data-group="primary-tabs">Core</a>
            <a class="item" data-tab="tab2" data-group="primary-tabs">Items</a>
            <a class="item" data-tab="tab3" data-group="primary-tabs">Magic</a>
            <a class="item" data-tab="tab4" data-group="primary-tabs">Body</a>
            <a class="item" data-tab="tab5" data-group="primary-tabs">Biography</a>
        </nav>
    </header>
   

    <section class="content groove-bordered">
    <div class="tab flexrow" data-tab="tab1" data-group="primary-tabs">
        {{> "systems/physio/templates/actors/partials/attribute-partial.hbs"}}
        {{> "systems/physio/templates/actors/partials/sub-attribute-partial.hbs"}}
        <div></div>
        {{> "systems/physio/templates/actors/partials/skills-partial.hbs"}}
        

        

    </div>


    <div class="tab flexcol" id ="device-tab" data-tab="tab2" data-group="primary-tabs">
        <p>Items</p>
        <div class="flexrow">
            {{#each gear_list as |gear|}}
                {{>"systems/physio/templates/actors/partials/item-partial.hbs" gear}}
            {{/each}}
        </div>
        
    </div>

    <div class="tab flexcol" id ="device-tab" data-tab="tab3" data-group="primary-tabs">
        <p>Techniques</p>
        <div class="flexrow">
            {{#each techniques as |technique|}}
                {{>"systems/physio/templates/actors/partials/item-partial.hbs" technique}}
            {{/each}}
        </div>
    </div>

    <div class="tab flexcol" id ="device-tab" data-tab="tab4" data-group="primary-tabs">
        <p>Body</p>
        <div class="flexrow">
            {{#each body_parts as |body_part|}}
                {{>"systems/physio/templates/actors/partials/item-partial.hbs" body_part}}
            {{/each}}
        </div>
    </div>

    <div class="tab flexcol" id ="device-tab" data-tab="tab5" data-group="primary-tabs">
        <label class="min-size">
            Hair Color:
            <input type="text" class="hair-color">
        </label>
        <label class="min-size">
            Eye Color:
            <input type="text" class="eye-color">
        </label>
        





    </div>
    </section>
</form>