<div class="flexrow groove-bordered rm-top-border rm-left-border rm-right-border">
    <img class="profile-img min-size groove-bordered rm-top-border rm-left-border rm-bottom-border" src="icons/svg/mystery-man.svg" data-edit="img" title="{{data.name}}">
    <div class="flexcol">
        <div class="flexrow">
            <input type="text" class="name" placeholder="Name" id="name-input">
            <div class="flexcol min-size slow-grow">
                <label>Power Level:</label>
                {{numberInput value name="power_level" min=0 max=30 step=1}}
            </div>
            <div class="flexcol min-size slow-grow">
                <label>Race:</label>
                <select name="attr_race">
                    <option value="none">Select Race:</option>
                    <option value="android">Android</option>
                    <option value="arcosian">Arcosian</option>
                    <option value="human">Earthling</option>
                    <option value="namekians">Namekian</option>
                    <option value="majin">Majin</option>
                    <option value="saiyan">Saiyan</option>
                    <option value="shinjin">Shinjin</option>
                </select>
            </div>
        </div>

        <div class="flexrow bio-div">
            <div class="flexcol min-size slow-grow">
                <label>Karma:</label>
                {{numberInput value name="karma" min=0 max=10 step=1}}
            </div>
            <div class="flexcol min-size ">
                <label>Alignment:</label>
                <select name="alignment">
                    <option value="none">Select Alignment:</option>
                    <option value="pure-good">Pure Good</option>
                    <option value="good">Good</option>
                    <option value="neutral">Neutral</option>
                    <option value="evil">Evil</option>
                    <option value="pure-evil">Pure Evil</option>
                </select>
            </div>
            <div class="flexcol min-size">
                <label>Size:</label>
                <select name="size">
                    <option value="none">Select Size:</option>
                    <option value="large">Large</option>
                    <option value="medium">Medium</option>
                    <option value="small">Small</option>
                </select>
            </div>
            <div class="flexcol min-size slow-grow">
                <label>Subrace:</label>
                <input type="text" name="subrace" class="subrace">
            </div>
        </div>
    </div>
</div>