<!-- Partial for all item types gear, transformations etc.-->
<div class="{{_id}} flexrow item-class">
    <input type="checkbox" id="{{concat this._id "_checkbox"}}">
    <p>{{name}}</p>
    <input type="image" src="systems/physio/png/star-ball-5.png" class = "delete no_grow" id="{{_id}}" width="20" height="20">
</div>