<div name="sub-attribute-section" class="flexrow" id="sub-attribute-section">
    <div class="attribute-square groove-bordered flexrow">
        <div>
            <label><button type="button" class="no-style-button" id="{{actor.system.hp.value}}">HP</button></label>
            <input name="system.hp.value" type="text" value = "{{actor.system.hp.value}}" data-dtype="Number"/>
        </div>
        <div>
            <label>Max</label>
            <input name="system.hp.max" type="text" value = "{{actor.system.hp.max}}" data-dtype="Number" readonly/>
        </div>
        
    </div>
</div>