

.heading-class * {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-align: center;  
    height: 100%;
}

.heading-class *:focus {
    outline: none
}


.profile-img {
    height: 100px;
    flex-grow: 0;
}

.img {
    flex-grow: 0;
}

.min-size {
    flex-shrink: 1;
    flex-basis: auto;

}

h4 {
    border: groove;
    border-color: white; 
    border-top: none;
    border-left: none;
    border-right: none;
}


.slow-grow {
    flex-grow: 0.1;
}

.attribute-square {
    text-align: center;
    width: 80px;
    height: 80px !important;
}

.heading-class{
    height: 120px;
    width: 100%;
    flex-grow: 0;
    padding-bottom: 20px;
}


.heading-class select {
    height: 50px;
    
}

.groove-bordered {
    border-style: groove;
    border-width: 2px;
    padding: 2px;
}

.rm-top-border {
    border-top: none;
}

.rm-left-border {
    border-left: none;
}

.rm-right-border {
    border-right: none;
}

.rm-bottom-border {
    border-bottom: none;
}

#name-input {
    flex-basis: 2;
    height: 100%;
    
}

.content {
    align-self: stretch;

}

.sheet-form {
    
}

#attributes-section {
    max-width: 100px;
    
}

.bio-div * {
    margin-left: 10px;
    margin-right: 10px;
}





